body {
    background-color: #c8e3de;
    color: #48233c;
    margin: 20px;
    font-family: Helvetica;
}

h1,
h2 {
    color: #873647;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

nav {
    background-color: #d6b6cd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #6e35ab;
}

nav a:hover {
    background-color: #f2c9e7;
}

.logo {
    float: left;
    text-align: left;
    color: #3d205c;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: auto;
    flex-wrap: nowrap;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #8a3e747b;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%
}

.menubutton {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menubutton {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col1 {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    margin-right: 20px;
    max-width: 50%;
    justify-content: center;
    margin-left: 40px;
}

.col2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.col2 img {
    width: 350px;
    height: auto;
    margin: 0 auto;
}

.aside {
    margin-left: 40px;
}

@media (max-width: 800px) {

    .row1,
    .row2 {
        flex-wrap: wrap;
    }

    .col2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.row3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px;
    background-color: #fcf5f4;
    border-radius: 10px;
}

.row3 .col {
    flex: 1;
    max-width: 18%;
    text-align: center;
}

.row3 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title,
.snap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
}

.title {
    align-items: center;
    text-align: center;
}

.snap {
    align-self: flex-start;
    text-align: left;
    padding-left: 165px;
    margin-left: 20px;
}

.resume {
    display: flex;
    justify-content: center;
}

.presentations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px;
    background-color: #fcf5f4;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
}

.pintro {
    margin-left: 50px;
}

.presrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-width: 270px;
    max-width: 30%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}

.presentations img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-bottom: 5px
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px
}

.bigrow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 30px;
}

.colu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    padding: 20px;
    border: 1px solid #000000;
}

.colu iframe {
    padding: 30px;
}

.proj_name {
    text-align: center;
    margin-bottom: 10px;
}

.colu object,
.colu iframe {
    margin-top: 10px;
}

#names {
    color: #6e35ab;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fcf5f4;
    width: 900px;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
}

.footer .contact {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.email,
.linkedin {
    text-align: center;
    margin: auto;
}

.email-icon {
    font-size: 70px;
}

.footer_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}