body {background-color: #B5CFB7; color: #16171C}
h1, h2 {color: #b3728c;}
nav {background-color: #abd2da;}
nav a{color: #C96868;}
nav a:hover {background-color: #E7CCCC;}
nav {padding: 10px; margin-bottom: 30px;}
p.one {float: right;}